<launch>
  <!-- launch the example node -->
  <node name="jps3d_test_node" pkg="jps3d_test" type="jps3d_test_node" output="screen">
    <param name="start_x" value="0" />
    <param name="start_y" value="0" />
    <param name="start_z" value="1" />
    <param name="goal_x" value="30" />
    <param name="goal_y" value="10" />
    <param name="goal_z" value="1" />
  </node>

  <!-- parameters -->
  <include file="$(find jps3d_test)/launch/jps3d.xml" />

  <!-- point cloud -->
  <node name="visual_pcl" pkg="jps3d_test" type="visual_pcl" output="screen">
    <param name="pcd_file_path" value="$(find jps3d_test)/pcd/map.pcd" />
    <param name="frame_id" value="world" />
    <remap from="~global_map" to="/global_map" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jps3d_test)/config/rviz.rviz"
    output="screen" />
</launch>